
/***** BASE STYLES *****/

html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2B2B2B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 1200px;
}

p {
  font-size: 2.5em;
}


/***** HEADER SECTION *****/

header {
  background: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

header .full-width {
  width: 90%;
}

header .half-width {
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: 'Lora', serif;
  font-size: 7em;
  color: #BBC085;
  margin: 0;
  padding: 100px 0 25px 0;
}

nav ul li{
  display: inline-block;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3em;
  padding: 0 20px;
  color: #828282;
}

header h2 {
  font-family: 'Lora', serif;
  font-size: 5.25em;
  color: #828282;
  padding: 0 0 550px 25px;
}

header h2 span {
  color: #2B2B2B;
}
/***** ABOUT SECTION *****/

#about {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#about .full-width {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
}

#about .half-width {
  display: flex;
  justify-content: center;
}

#about h2 {
  font-family: 'Lora', serif;
  font-size: 4.5em;
}

#about p {
  color: #7F7F7F;
  line-height: 1.75em;
}

/******* WORK SECTION *****/

#work {
  background-color: #F9CEB7;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#work .full-width {
  padding: 115px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#work .third-width {
  width: 65%;
}

#work img {
  padding-bottom: 50px;
  height: auto;
  width: 25%;
}

#work h3 {
  font-size: 2.5em;
  line-height: 32px;
  margin: 0 auto;
}

#work p {
  font-family: 'Lora', serif;
  padding-bottom: 50px;
}



/***** CONTACT SECTION *****/

#contact {
  background-color: #EBEBEB;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#contact .full-width {
  padding: 110px 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#contact .half-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
}

#contact img#contact-img {
  border: 12px solid #FFFFFF;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
}

#contact #envelope {
}

#contact h2 {
  font-family: 'Lora', serif;
  font-size: 4em;
  line-height: 44px;
}

#contact h3 {
  font-size: 3em;
}

#contact #email-header {
  font-weight: lighter;
  line-height: 44px;
  margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
  font-weight: bolder;
  line-height: 44px;
  margin: 40px 0;
}

#contact a {
  text-decoration: none;
  color: #C49075;
  font-weight: bold;
  font-size: 2.75em;
  padding: 25px 0 50px 0;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}

#contact i {
  color: #C49075;
  font-size: 3.5em;
  padding-right: 55px;
}
