
/***** BASE STYLES *****/
html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2B2B2B;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;


}

/***** GRID *****/



/***** HEADER SECTION *****/

header {
    background: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    max-width: 100%;
}

header .full-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 275px;
}

header h1 {
    padding-top: 45px;
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 2.5em;
    color: #BBC085;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 80%;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.125em;
    color: #828282;
}

header h2 {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: #9B9B9B;
    width: 90%;
}

header h2 span {
    color: #2B2B2B;
}

/***** ABOUT SECTION *****/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#about .full-width {
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
}

#about h2 {
    font-family: 'Lora', serif;
}

#about p {
    font-size: 1em;
    color: #7F7F7F;
    line-height: 30px;
    margin-bottom: 10px;
}

/******* WORK SECTION *****/

#work {
    background-color: #F9CEB7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

#work .full-width {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#work .third-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#work img {
    padding-bottom: 30px;
    width: 20%;
}

#work h3 {
    font-size: 1.5em;
    line-height: 32px;
    margin: 0 auto;
    width: 82%;
}

#work p {
    font-family: 'Lora', serif;
    font-size: 1.125em;
    line-height: 30px;
    width: 90%;
    padding-bottom: 25px;
}


/***** CONTACT SECTION *****/

#contact {
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact .full-width {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

#contact .half-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


#contact img#contact-img {
  display: flex;
  justify-content: center;
    border: 12px solid #FFFFFF;
    max-width: 80%;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 2em;
    line-height: 44px;
    margin-bottom: 0;
}

#contact #email-header {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 44px;
    margin: 0;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 1.4em;
    margin: 15px 0;
}

#contact ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px 0;
}


#contact ul i {
    color: #C49075;
    font-size: 1.75em;
}


/**************************************************************
        MEDIA QUERIES
****************************************************************/

@media only screen and (min-width:768px) {
    /* Tablet styles here */

  header .full-width {
      width: 90%;
      justify-content: space-between;
      padding-bottom: 225px;
  }

  header  h1 {
      justify-content: flex-start;
      font-size: 1.875em;
      width: 40%;
      padding-top: 65px;
    }

  nav {
      width: 35%;
      justify-content: flex-end;
      padding-top: 75px;
  }

  nav ul li a {
    font-size: 1em;
  }

  header h2 {
    font-size: 2.75em;
    width: 100%;
  }

  /* About Section - Tablet */

  #about h2 {
    font-size: 1.75em;
    width: 100%;
    justify-content: flex-start;
  }

  #about .full-width {
    justify-content: space-between;
    padding: 75px 0;
  }

  #about .half-width {
    width: 45%;
  }


}
